<div class="url">
    <h1>tiny Url</h1>
    <p>please input your long ass url</p>
    <form (ngSubmit)="submit(urlForm)" #urlForm="ngForm">
        <input type="text" placeholder="google.com" name="longUrl" required ngModel>
        <button type="submit">transform</button>
    </form>
    <div class="shorted" [hidden]="submitted">
        <p>{{output}}</p>
        <button [cdkCopyToClipboard]="output">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/></svg>
        </button>
    </div>
</div>